@import "variables";
@import "mixin-background-darken";
@import "mixin-button";

div.application {

    section.menu {
        .background-darken();

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: @menu-height;

        padding-left: @spacing;
        padding-right: @spacing;

        display: flex;
        align-items: center;
        justify-content: space-between;

        label.load {
            .button();
            font-size: small;

            input {
                display: none;
            }
        }
    }

    section.content {
        position: fixed;
        top: @menu-height + @spacing;
        bottom: @spacing;
        width: 100%;

        nav.rules {
            position: absolute;
            top: 0;
            bottom: 0;
            left: @spacing;
            width: @navigation-width;

            padding-right: @spacing; // pad vertical scrollbar right
            overflow-y: scroll;

            ul {
                margin: 0 0 @spacing;

                li {
                    button {
                        padding: @button-padding;
                        width: 100%;
                        height: 100%;
                        background-color: @color-button-bg;
                        color: @color-button;

                        &:hover {
                            background-color: @color-button-bg-hover;
                        }
                    }
                }

                li.selected {
                    button {
                        background-color: @color-button-bg-selected;
                    }
                }

                li + li {
                    margin-top: 0.5rem;
                }
            }
        }

        section.main {
            position: absolute;
            top: 0;
            bottom: 0;
            left: @navigation-width + 3 * @spacing; // 3 = navigation vertical scrollbar padding + scrollbar width + margin
            right: @spacing;

            padding-right: @spacing; // pad vertical scrollbar right
            overflow-y: scroll;

            section.editor,
            section.output {
                width: 100%;
            }
        }
    }
}
