@import "variables";
@import "mixin-background-darken";
@import "mixin-id-counter-prefix";
@import "mixin-line-visual";

div.application {
    section.content {
        section.main {

            li.rule,
            li.expression,
            li.iterate,
            li.item,
            li.change,
            li.argument {
                padding: 0 (@spacing / 2) (@spacing / 2);
                position: relative;
            }

            li.rule,
            li.expression,
            li.iterate,
            li.change {
                header {
                    position: relative;
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            section.editor {
                li.rule {
                    padding-top: @spacing;
                    padding-bottom: 2rem;
                    .background-darken();

                    counter-reset: itemId changeId;

                    &:last-child {
                        padding-bottom: @spacing;
                    }

                    + li.rule {
                        margin-top: (2 * @spacing);
                    }

                    > header {
                        display: flex;
                        justify-content: space-between;

                        div.buttons-left {
                            padding-left: @spacing;
                        }

                        div.buttons-right {
                            padding-right: @spacing;
                        }
                    }

                    ul.expression-list {
                        padding: @spacing 0 0 @spacing;

                        li.expression {
                            .background-darken();
                            padding-top: 0;

                            > header {
                                text-align: left;

                                select {
                                    position: absolute;
                                    top: 0.25rem;
                                    left: 7rem;
                                    padding: 0;
                                    font-size: small;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }

                            &.and {
                                .line-visual(@color-line-and, "expression");
                            }

                            &.or {
                                .line-visual(@color-line-or, "expression");
                            }
                        }

                        li.iterate {
                            .background-darken();
                            .line-visual(@color-line-iterate, "iterate");

                            header {
                                label {
                                    position: absolute;
                                    top: 0.25rem;
                                    left: 5rem;
                                }
                            }
                        }

                        li.item {
                            .background-darken();
                            .id-counter-prefix("item", itemId);
                            padding-top: (@spacing / 2);
                        }

                        li.expression,
                        li.iterate,
                        li.item {
                            + li.expression,
                            + li.iterate,
                            + li.item {
                                margin-top: (@spacing / 2);
                            }
                        }
                    }

                    ul.change-list {
                        padding: 0 (2 * @spacing);

                        li.change {
                            .background-darken();
                            .id-counter-prefix("change", changeId);
                            counter-reset: argumentId;

                            &:not(:last-child) {
                                padding-top: @spacing;
                            }

                            &:last-child {
                                padding-top: (@spacing / 2);
                            }

                            + li.change {
                                margin-top: @spacing;
                            }

                            ul.argument-list {
                                margin: @spacing 0;
                                padding: 0 (2 * @spacing);

                                li.argument {
                                    .background-darken();
                                    .id-counter-prefix("arg", argumentId);
                                    padding-top: (@spacing / 2);

                                    + li.argument {
                                        margin-top: (@spacing / 2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
