div.application {
    section.content {
        section.main {
            section.output {
                pre {
                    text-align: left;
                    code {
                        * {
                            font-family: monospace;
                        }
                    }
                }
            }
        }
    }
}
