@import "variables";
@import "mixin-button";

input,
select {
    padding: 0.1rem 0.5rem;

    &.invalid {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.25)
    }
}

input,
select,
label {
    + input,
    + select,
    + label {
        margin-left: 1rem;
    }
}

label + label {
    margin-left: 1rem;
}

label {
    input,
    select {
        margin-left: 0.5rem;
    }
}

button {
    .button();
    text-transform: capitalize;

    + button {
        margin-left: 1rem;
    }

    &.remove {
        background-color: @color-button-remove-bg;
        color: @color-button-remove;

        &:hover {
            background-color: @color-button-remove-bg-hover;
        }

        &.small {
            position: absolute;
            right: @spacing;
            top: 50%;
            width: @spacing * 1.33;
            height: @spacing * 1.33;
            padding: 0;
            transform: translateY(-50%);
            visibility: hidden;
        }
    }
}

*:hover > button.remove.small {
    visibility: visible;
}
