.id-counter-prefix(@prefix, @counter) {
    div.id {
        position: absolute;
        left: 1rem;
        counter-increment: @counter;
    }

    div.id::before {
        content: @prefix " #" counter(@counter);
        font-size: small;
        text-transform: capitalize;
    }
}
