.line-visual(@color, @label) {
    > div.line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 6px;
        background-color: @color;
        border-radius: 1rem;
    }

    > div.line::after {
        content: @label;
        padding-left: 1rem;
        color: @color;
        font-weight: bold;
        font-size: small;
        text-transform: uppercase;
    }
}
