@import "variables";

.button() {
    padding: @button-padding;
    background-color: @color-button-bg;
    color: @color-button;
    border: none;

    &:hover {
        background-color: @color-button-bg-hover;
        cursor: pointer;
    }
}
