@color-button-remove: darken(red, 10%);
@color-button-remove-bg: fade(@color-button-remove, 10%);
@color-button-remove-bg-hover: fade(@color-button-remove, 20%);

@color-button: darken(green, 10%);
@color-button-bg: fade(@color-button, 10%);
@color-button-bg-hover: fade(@color-button, 20%);
@color-button-bg-selected: fade(@color-button, 40%);

@color-line-and: fade(blue, 50%);
@color-line-or: fade(purple, 50%);
@color-line-iterate: fade(darkslategray, 50%);

@button-padding: 0.25rem 1rem;

@menu-height: 3rem;
@navigation-width: 12rem;
@spacing: 1rem;
